.m{
    margin-left: 200px;
    margin-top: -124px;
    position: fixed;

}
.day{
    margin-left: 400px;
    margin-top: -124px;
}
.eggg{
    margin-top: 30px;
    position: fixed;

}
.lov{
    margin-left: 200px;
    margin-top: 30px;
    position: fixed;


}
.ttt{
    margin-left: 400px;
    margin-top: 30px;
    position: fixed;
}

